<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAntiAliasingThreshold</key>
	<integer>8</integer>
	<key>AppleCollationOrder</key>
	<string>en</string>
	<key>AppleKeyboardUIMode</key>
	<integer>1</integer>
	<key>AppleLanguages</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>de</string>
	</array>
	<key>AppleLocale</key>
	<string>en_US</string>
	<key>AppleMeasurementUnits</key>
	<string>Inches</string>
	<key>AppleMetricUnits</key>
	<false/>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>InitialKeyRepeat</key>
	<integer>15</integer>
	<key>KeyRepeat</key>
	<integer>2</integer>
	<key>NSFavoriteStyles</key>
	<dict>
		<key>Bold</key>
		<dict>
			<key>NSFontTrait</key>
			<integer>2</integer>
		</dict>
		<key>Italic</key>
		<dict>
			<key>NSFontTrait</key>
			<integer>1</integer>
		</dict>
		<key>Outlined</key>
		<dict>
			<key>NSStrokeWidth</key>
			<real>3</real>
		</dict>
		<key>Shadowed</key>
		<dict>
			<key>NSShadow</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0
			b3BYJG9iamVjdHNfEA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRy
			b290gAGjCwwTVSRudWxs0w0ODxAREl1OU1NoYWRvd0hvcml6ViRj
			bGFzc1xOU1NoYWRvd1ZlcnQiP4AAAIACIsBAAADSFBUWF1gkY2xh
			c3Nlc1okY2xhc3NuYW1lohcYWE5TU2hhZG93WE5TT2JqZWN0CBEb
			JCkyRElMUVNXXWRyeYaLjZKXoKuutwAAAAAAAAEBAAAAAAAAABkA
			AAAAAAAAAAAAAAAAAADA
			</data>
		</dict>
	</dict>
	<key>NavPanelFileListModeForOpenMode</key>
	<integer>1</integer>
	<key>NavPanelFileListModeForSaveMode</key>
	<integer>1</integer>
	<key>PerformanceMenu</key>
	<string>0</string>
	<key>com.apple.AppleShareClientCore</key>
	<dict>
		<key>afp_active_timeout</key>
		<integer>0</integer>
		<key>afp_authtype_show</key>
		<false/>
		<key>afp_cleartext_allow</key>
		<true/>
		<key>afp_cleartext_warn</key>
		<true/>
		<key>afp_debug_level</key>
		<integer>6</integer>
		<key>afp_debug_syslog</key>
		<true/>
		<key>afp_default_name</key>
		<string></string>
		<key>afp_idle_timeout</key>
		<integer>0</integer>
		<key>afp_keychain_add</key>
		<true/>
		<key>afp_keychain_search</key>
		<true/>
		<key>afp_login_displayGreeting</key>
		<true/>
		<key>afp_maxDirCache</key>
		<integer>60</integer>
		<key>afp_maxFileCache</key>
		<integer>60</integer>
		<key>afp_minDirCache</key>
		<integer>5</integer>
		<key>afp_minFileCache</key>
		<integer>5</integer>
		<key>afp_mount_defaultFlags</key>
		<integer>0</integer>
		<key>afp_no_kQueues</key>
		<integer>0</integer>
		<key>afp_no_volChange_caching</key>
		<integer>1</integer>
		<key>afp_prefs_version</key>
		<integer>2</integer>
		<key>afp_reconnect_allow</key>
		<true/>
		<key>afp_reconnect_interval</key>
		<integer>10</integer>
		<key>afp_reconnect_retries</key>
		<integer>12</integer>
		<key>afp_ssh_allow</key>
		<false/>
		<key>afp_ssh_force</key>
		<false/>
		<key>afp_ssh_require</key>
		<false/>
		<key>afp_ssh_warn</key>
		<true/>
		<key>afp_use_default_name</key>
		<false/>
		<key>afp_use_short_name</key>
		<false/>
		<key>afp_voldlog_skipIfOnly</key>
		<false/>
		<key>afp_wan_quantum</key>
		<integer>0</integer>
		<key>afp_wan_threshold</key>
		<integer>0</integer>
	</dict>
	<key>com.apple.keyboard.fnState</key>
	<false/>
	<key>com.apple.mouse.scaling</key>
	<real>1.5</real>
	<key>com.apple.mouse.tapBehavior</key>
	<integer>0</integer>
	<key>com.apple.scrollwheel.scaling</key>
	<real>0.875</real>
	<key>com.apple.trackpad.scrollBehavior</key>
	<integer>2</integer>
</dict>
</plist>
