<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.apple.findmymacd</string>
        <key>Program</key>
		<string>/System/Library/PrivateFrameworks/FindMyMac.framework/Resources/FindMyMacd</string>
        <key>MachServices</key>
        <dict>
             <key>com.apple.findmymacd</key>
             <true/>
        </dict>
        <key>ThrottleInterval</key>
        <integer>1</integer>
</dict>
</plist>
