<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.FontRegistryUIAgent</string>
	<key>Program</key>
	<string>/System/Library/Frameworks/ApplicationServices.framework/Frameworks/ATS.framework/Support/FontRegistryUIAgent.app/Contents/MacOS/FontRegistryUIAgent</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.FontRegistry.FontRegistryUIAgent</key>
		<true/>
	</dict>
	<key>OnDemand</key>
	<true/>
</dict>
</plist>
