<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.cvmsCompAgent_x86_64</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Frameworks/OpenGL.framework/Versions/A/Libraries/CVMCompiler</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.cvmsCompAgent_x86_64</key>
		<true/>
	</dict>
	<key>EnableTransactions</key>
	<true/>
	<key>BinaryOrderPreference</key>
	<array>
		<integer>0x01000007</integer>
	</array>
	<key>LimitLoadToSessionType</key>
	<string>Background</string>
</dict>
</plist>
