<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.NetworkBrowserAgent</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.NetworkBrowserAgent</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/System/Library/CoreServices/NetworkBrowserAgent</string>
	<key>EnableTransactions</key>
	<true/>
</dict>
</plist>
