<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.CoreRAID</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.CoreRAID</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<false/>
			<key>ResetAtClose</key>
			<false/>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/CoreRAID.framework/Resources/CoreRAIDServer</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ServiceIPC</key>
	<true/>
</dict>
</plist>
