<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM
"file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
   <key>CFBundleExecutable</key>
   <string>PrefTest</string>
   <key>CFBundleName</key>
   <string>PrefTest</string>
   <key>CFBundleIdentifier</key>
   <string>edu.psu.preftest</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleVersion</key>
   <string>1.0.0.0.0</string>
   <key>CFBundleDevelopmentRegion</key>
   <string>en</string>
   <key>CFBundlePackageType</key>
   <string>APPL</string>
   <key>CFBundleSignature</key>
   <string></string>
   <key>CFBundleGetInfoString</key>
   <string></string>
   <key>CFBundleShortVersionString</key>
   <string></string>
   <key>CFBundleIconFile</key>
   <string>PrefTest.icns</string>
<key>LSMinimumSystemVersion</key>
<string>10.7</string>
   <key>CFBundleDocumentTypes</key>
   <array>
   </array>
</dict>
</plist>