<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.passwordreset.gui</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.apple.passwordreset.gui</string>
	<key>KeepAlive</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Utilities/Reset Password.app/Contents/MacOS/Reset Password</string>
	</array>
</dict>
</plist>
