<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>com.apple.blued</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.blued</key>
		<true/>
		<key>com.apple.BluetoothDOServer</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
	</dict>
	<key>Program</key>
	<string>/usr/sbin/blued</string>
</dict>
</plist>
