<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.xpcd</string>
	<key>Program</key>
	<string>/usr/libexec/xpcd</string>
	<key>EnableTransactions</key>
	<true/>
	<key>MultipleInstances</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>com.apple.xpchelper</key>
		<dict>
			<key>ResetAtClose</key>
			<false/>
		</dict>
		<key>com.apple.xpcd</key>
		<dict>
			<key>ResetAtClose</key>
			<false/>
		</dict>
	</dict>
	<key>ThrottleInterval</key>
	<integer>0</integer>
	<key>XPCDomainBootstrapper</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>XPC_SERVICES_UNAVAILABLE</key>
		<string>1</string>
	</dict>
</dict>
</plist>
