<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.findmymacmessenger</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.findmymacmessenger</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/System/Library/PrivateFrameworks/FindMyMac.framework/Resources/FindMyMacMessenger.app/Contents/MacOS/FindMyMacMessenger</string>
	<key>ThrottleInterval</key>
	<integer>1</integer>
</dict>
</plist>
