<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.kuncd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.system.Kernel[UNC]Notifications</key>
		<dict>
			<key>kUNCServer</key>
			<true/>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/kuncd</string>
	</array>
</dict>
</plist>
