<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.store_helper</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.store_helper</key>
		<true/>
	</dict>
	<key>OnDemand</key>
	<true/>
	<key>Program</key>
	<string>/System/Library/PrivateFrameworks/CommerceKit.framework/Resources/store_helper.app/Contents/MacOS/store_helper</string>
	<key>EnableTransactions</key>
	<true/>
</dict>
</plist>
