<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.familycontrols</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.familycontrols</key>
		<true/>
		<key>com.apple.familycontrols.authorizer</key>
		<true/>
	</dict>
	<key>QueueDirectories</key>
	<array>
		<string>/Library/Application Support/Apple/ParentalControls/ALRHelperJobs</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/FamilyControls.framework/Resources/parentalcontrolsd</string>
	</array>
	<key>EnableTransactions</key>
	<true/>
</dict>
</plist>
