<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.airportd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/airportd</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.airportd</key>
		<true/>
	</dict>
	<key>ServiceIPC</key>
	<true/>
	<key>OnDemand</key>
	<true/>
</dict>
</plist>
