<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.vineserver.osxvnc</string>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/usr/bin/OSXvnc-server</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/OSXvnc-server</string>
		<string>-rfbauth</string>
		<string>/Library/Preferences/com.osxvnc.txt</string>
		<string>-UnicodeKeyboard</string>
		<string>0</string>
		<string>-keyboardLoading</string>
		<string>N</string>
		<string>-rendezvous</string>
		<string>Y</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
