<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.apple.distnoted</string>
        <key>ProgramArguments</key>
        <array>
                <string>/usr/sbin/distnoted</string>
        </array>
        <key>MachServices</key>
        <dict>
                <key>com.apple.distributed_notifications.2</key>
                <true/>
        </dict>
</dict>
</plist>
