<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>com.apple.ReportCrash</string>
	<key>Program</key>
	<string>/System/Library/CoreServices/ReportCrash</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.ReportCrash</key>
		<dict>
			<key>ExceptionServer</key>
            <dict></dict>
		</dict>
	</dict>
    <key>MachExceptionHandler</key>
    <string>com.apple.ReportCrash.SafetyNet</string>
</dict>
</plist>
