<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.apple.ScreenReaderUIServer</string>
        <key>MachServices</key>
            <dict>
                <key>com.apple.ScreenReaderUIServer</key>
                <dict>
                    <key>ResetAtClose</key>
                    <true/>
                </dict>
	</dict>
        <key>Program</key>
        <string>/System/Library/PrivateFrameworks/ScreenReader.framework/Resources/ScreenReaderUIServer.app/Contents/MacOS/ScreenReaderUIServer</string>
        
        <key>EnableTransactions</key> 
        <true/>
        
        <key>KeepAlive</key>
        <false/>
        
        <key>RunAtLoad</key>
        <false/>

        <key>LimitLoadToSessionType</key>
        <array>     
            <string>Aqua</string>
            <string>LoginWindow</string>
        </array>
        
        <key>ThrottleInterval</key>
        <integer>1</integer>
        
    </dict>
</plist>
